<launch>
	<arg name="pandar40p_160_ip" default="192.168.1.160"/>
	<arg name="pandar40p_162_ip" default="192.168.1.162"/>
	<arg name="lidar_recv_port_0"  default="2360"/>
        <arg name="lidar_recv_port_2"  default="2362"/>
	<arg name="gps_recv_port_0"  default="10000"/>
	<arg name="gps_recv_port_2"  default="10110"/>
	<arg name="start_angle"  default="135"/>
	<arg name="timezone"  default="8"/>
	<arg name="frame_id"  default="hesai40"/>
	<arg name="lidar_topic_0"  default="/pandar40p_0"/>
        <arg name="lidar_topic_2"  default="/pandar40p_2"/>

	<node pkg="pandar40p" name="pandar40p_0" type="pandar40p_node" output="screen" >
		<param name="pandar40p_ip" type="string" value="$(arg pandar40p_160_ip)"/>
		<param name="lidar_recv_port"  type="int" value="$(arg lidar_recv_port_0)"/>
		<param name="gps_recv_port"  type="int" value="$(arg gps_recv_port_0)"/>
		<param name="start_angle"  type="double" value="$(arg start_angle)"/>
		<param name="timezone"  type="int" value="$(arg timezone)"/>
		<param name="frame_id"  type="string" value="$(arg frame_id)"/>
		<param name="lidar_topic"  type="string" value="$(arg lidar_topic_0)"/>
	</node>
	<node pkg="pandar40p" name="pandar40p_2" type="pandar40p_node" output="screen" >
		<param name="pandar40p_ip" type="string" value="$(arg pandar40p_162_ip)"/>
		<param name="lidar_recv_port"  type="int" value="$(arg lidar_recv_port_2)"/>
		<param name="gps_recv_port"  type="int" value="$(arg gps_recv_port_2)"/>
		<param name="start_angle"  type="double" value="$(arg start_angle)"/>
		<param name="timezone"  type="int" value="$(arg timezone)"/>
		<param name="frame_id"  type="string" value="$(arg frame_id)"/>
		<param name="lidar_topic"  type="string" value="$(arg lidar_topic_2)"/>
	</node>
</launch>
